
body{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'STIX Two Text', serif;

}

html{
    scroll-behavior: smooth;
}
#loading 
{
    width: 100%;
    height: 100vh;
    position: fixed;
    background:#fff url('./images/Spin-1s-200px.gif') no-repeat center;
    z-index: 19999;
  
    align-items: center;
 
}



/***************************Menubar start****************************/
.logo-color{
    color:#fd7e14;
}
.logo-size
{
    font-size: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white !important;
   
}
header
{
    position: fixed ;
    top: 0%;
    left: 0%;
    width: 100%;
    transition: 0.6s;
    z-index: 1000 ;
  
  
}


a.nav-link:hover
{
 color:#fd7e14 !important ;

 transition: .9s !important;
}
a.nav-link::after
{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    width: 100%;
    height: 2px;
    background: #fd7e14;
    transition: .3s !important;
  
}
a.nav-link:hover::after{
    transform: translateX(-50%) scaleX(1);
}
a.nav-link 
{
    position: relative;
    z-index: 1;
}
header.stcky .nav-item a.nav-link {
    margin-left: auto !important;
}

.navbar-nav
{
   margin: auto !important;
 
   
}
.bar-icon 
{
    color: white;

}

.nav-link {

    color: white !important;
}
.navbar-nav .nav-item
{
    font-size: 19px !important;
}
.contact-style
{
    
     padding-top: 18px;
}
.email-color 
{
 margin-left: 5px;
}
/********************Banner section start*****************************/

.banner {
    background: url('./images/bg1-min.jpg');
    height: 100vh;
    width: 100%;
    background-size:cover ;
    position: relative;
}
.title-banner{
  
   
    text-align: center;
    padding-top: 240px;
  
}

/********************Banner section end*****************************/


/********************menu section start*****************************/
.title-head h1 {
    padding-top: 0 !important;
    margin-top: 70px;
}
.title p {
    text-align: center;
}
#menu-bar 
{
    margin-top: 400px;
  
    
}
.zoom {
    padding: 20px;
    transition: transform .2s;
   
   
  
  }
  .zoom:hover {
    transform: scale(1.1); 
  }

.menu-bar 
{
    width: 100%;
    height: 50vh;
   
    background: rgb(46, 46, 46);
    position: relative;
    z-index: 100;
  
   

}

.col-lg-3 {
 
 padding: 20px;
 margin-top: -10px;
 z-index: 100000;
 border-radius: 10px;





}
.item img
{
   height: 400px;
    width: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
}
.item .name {
    width: 120px;
    line-height: 30px;
    text-align: center;
    margin: auto !important;
    color: white;
}
.up-side 
{
    margin-top: -313px;
}
.down-side 
{
    margin-top: -240px;
}


/********************menu section end*****************************/
/********************contact section start*****************************/
#contact-us
{
    margin-top: 50px;
}
.contact-us 
{
    width: 100%;
    height: 100%;
    padding: 20px;

}
.page 
{
    background: url('./images/bg3-min.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    position: relative;
}
.contact-form{
  
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #fff;
   
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #fd7e14;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}
/********************contact section end*****************************/
/********************about section start*****************************/
#about-us 
{
    margin-top: 60px;
}
.about-us 
{
    width: 100%;
    height: 100%;

}
.col-lg-4 {
    padding: 10px;
    border-radius: 10px;
}
.col-lg-4 img 
{
    width: 100%;
}
.image-fluid 
{
    height: 100%;
}
/********************about section end*****************************/

#footer 
{
    margin-top: 60px;
}
.footer 
{
    background: black;
    width: 100%;
    height: 50vh;
}
.col-lg-3   a {
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex !important;
    color: white !important;
    text-decoration: none;

}
.col-lg-3 i {

    color: #b36220dc;
}

.mail-button.btn.btn-primary.mb-2 {
    margin-left: 19px !important;
}


#myBtn {
    position: fixed;
    bottom: 25px;
    right: 30px;
    z-index: 99;
    border: none;
    color: white !important;
    background: black !important;
    border-radius: 100px;
    padding: 5px;
}
#myBtn:hover {
    background: #fd7e14 !important;
    color: white !important;
}
/********************Media start*****************************/
@media(max-width :768px){
    .email-color{
        margin-left: 0;
    }
    .contact-style{
        padding-top: 0%;
    }
    .menu-bar {
        height: auto;
        margin-top: 10px;
    }
    .col-lg-3{
        height: auto;
        margin-top: 10px;
    }
    .item img {
        margin: auto;
        margin-left: 40px;
    }
    #menu-bar 
    {
        margin-top: 10px;
    }
    .item h3 {
        margin-top: 5px;
    }
    .name h3 
    {
        text-align: center !important;
       margin-left: 8px !important;
             width: 170px;
    }
    .item{
        margin-left: -30px !important;
    }
    .form-control {
        width: 185px;
        margin-left: -31px;
    }
    .btnContact {
        width: 120px !important;
        margin-left: -29px;
        margin-left: -7px !important;
    }
    .textarea {
      
        width: 174%;
        height: 37px;
    
    }
    .col-lg-4.col-md-4.col-sm-12 {
        margin-top: 24px !important;
    }
    .text-center.p-2 {
        margin-left: 10px !important;
    }
    .footer 
    {
        height: 120vh !important;
    }
    .form-inline {
        margin-left: 92px;
    }
    .text-center.p-2 {
        margin-left: 85px !important;
    }

}
/********************Media end*****************************/
